{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        </style>
</head>

<body>
    <div class="container">
        <h1>Orders </h1>

        <table>
            <tr>
              <th>Order No.</th>
              <th>Order Id </th>
              <th>Items</th>
              <th>Name</th>
              <th>Email</th>
              <th>Contact</th>
            </tr>
        
            {% for order in order_list %}
            <tr>
                <td>{{ order }}</td>
                <td>{{ order.order_id }}</td>
                <td>{{ order.items_json }}</td>
                <td>{{ order.fname}} {{ order.lname }}</td>
                <td>{{ order.email }}</td>
                <td>{{ order.phone }}</td>
            </tr>
            {% endfor %}
            
        </table>
    </div>
</body>

</html>